/*
* @Author: jacky.yang
* @Date:   2017-08-25 09:43:50
* @Last Modified by:   jacky.yang
* @Last Modified time: 2017-08-25 10:49:19
*/

@charset "utf-8";

/*CSS reset*/
html{font-size: 62.5%;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, article, aside, canvas, details, figure, figcaption, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: inherit; font-weight: inherit; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
input, button, textarea, select { *font-size: 100%; }
abbr, acronym { border: 0; font-variant: normal; }
fieldset, img { border: 0; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
input, img { vertical-align: middle; }
ul, ol { list-style-type: none; }
li { list-style: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
legend { color: #000; }
html { line-height: 1 }
button { white-space: nowrap; overflow: visible }
html, body { color: #484848; height: 100% }
input[type=search] { -webkit-appearance: none }
input[type=checkbox] { vertical-align: middle }
input, button, select, textarea { outline: 0 }
a img, a span, a s, a b{ cursor: pointer; font-weight: normal;}
i{font-style:inherit}
a,a:hover,a:visited,a:focus{text-decoration: none; -webkit-backface-visibility: hidden;}